<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${OPENSHIFT_LOG_DIR}EDDNClient.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>${OPENSHIFT_LOG_DIR}EDDNClient.%i.log
			</fileNamePattern>

			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="FILE" />
	</root>
</configuration>